<fieldset class="forms__fieldset">
  <legend class="forms__leguend">Registra los Datos de tu Articulo</legend>
    <div class="forms__field">
      <label for="title" class="forms__label">Titulo(*)</label>
       {{ item_form.title }}
    </div>
    <div class="forms__field">
      <label for="description" class="forms__label">Descripcion(*)</label>
      {{ item_form.description }}    
    </div>
    <div class="forms__field">
      <label for="category" class="forms__label">Escoge la Categoria</label>
      {{ item_form.category }}
    </div>
    <div class="forms__field">
      <label for="image" class="forms__label">Imagen 1</label>
      {{ image_form.images }}    
    </div>
    <div class="forms__field">
      <label for="image" class="forms__label">Imagen 1</label>
      {{ image_form.images }}    
    </div>   
    <div class="forms__field">
      <label for="image" class="forms__label">Imagen 1</label>
      {{ image_form.images }}    
    </div>
</fieldset>

<fieldset class="forms__fieldset">
  <legend class="forms__leguend">Informacion de la Subasta</legend>
  <div class="forms__field">
    <label for="precio_inicio" class="forms__label">Precio Inicial</label>
    {{ item_form.starting_price }}
  </div>
  <div class="forms__field">
    <label for="precio_inicio" class="forms__label">Precio Actual</label>
    {{ item_form.current_price }}
  </div>
</fieldset>

