{% extends "layout.html" %}
{% block body %}
<main class="auth">
  <h2 class="auth__heading">{{ title }}</h2>
  <form class="forms" action="{% url 'auctions:register' %}" method="post">
    {% csrf_token %}
    <div class="forms__contenedor">
      <fieldset class="forms__fieldset">
        <legend class="forms__legend">Registrate en BidHub</legend>
        <div class="forms__field">
          <label for="name" class="forms__label">UserName</label>
          <input type="text" class="forms__input" placeholder="your username here" id="username" name="username" required>
        </div>
        <div class="forms__field">
          <label for="email" class="forms__label">Email</label>
          <input type="email" class="forms__input" placeholder="your email here" id="email" name="email" required>
        </div>
        <div class="forms__field">
          <label for="password" class="forms__label">Password</label>
          <input type="password" class="forms__input" placeholder="your password here" id="password" name="password" required>
        </div>
        <div class="forms__field">
          <label for="password2" class="forms__label">Confirm your Password</label>
          <input type="password" class="forms__input" placeholder="your password here" id="confirmation" name="confirmation" required>
        </div>
      </fieldset>
      <input type="submit" class="forms__submit forms__submit--registrar" value="Crear Cuenta">
    </div>
  </form>
  <div class="actions">
    <a href="{% url 'auctions:login' %}" class="actions__link">Ya tienes una cuenta? Inicia Sesion.</a>
    <a href="{% url 'auctions:forget' %}" class="actions__link">Olvidaste tu Password?.</a>
  </div>
</main>
{% endblock %}
